* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Style for body */
body {
    font-family: "Poppins" , sans-serif;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.6;
}

/* Header and Navigation styles */
header {
    background-color:  rgb(14, 141, 245);
    width: 100%;
    box-shadow: 0  2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    z-index: 1000;
}
/* General styles for <nav> */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Style <ul> to use Flexbox */
nav ul {
    display: flex; /* Makes <ul> items horizontal */
    list-style: none; /* Removes bullets */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}
