/* Reset default browser styles and set up box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 

/* General Style for the body */
body {
    font-family: 'Poppins', sans-serif;
    color:#333;
    background-color: #f8f9fa;
    line-height: 1.6;
}

/* Header and Navigation Styles */
header {
    background-color: rgb(14, 141, 245);
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds shadow effect to header */
    position: fixed; /* fix header to the top of viewport eve */
    top: 0;
    z-index: 1000; /* Keeps header on top of other elements */
}

nav {
    display:flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* vertically center items */
    padding: 1rem 5%;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0; /* Remove default padding */
}

nav ul li {
    margin-right: 20px; /* Add margin to space out items */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

nav a {
    text-decoration: none;
    color: #f8f9fa;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #023164;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color:#f8f9fa;
    letter-spacing: 0.1rem;
    
}

/* Add top padding to main to prevent overlap with fixed header */
main {
    margin-top: 60px;
    padding-top: 2rem 5%; /* Adjust this value based on your header's height */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

/* Content section style */
.content-section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);/* Add subtle shadow */
}

#tickets {
    margin-bottom: 200px;
}
/* Call to action button style */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #023164;
}

/* footer styles */
footer {
    text-align: center;
    color: #f8f9fa;
    padding: 0.5rem;
    background-color: #2c3e50; /* Dark background for footer */
    
}
