/* resetting the default margin and padding of the page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ---- Hero section ---- */
.hero {
    max-height: 95vh;
    background-color:#C2EFD4;
    font-family: 2rem;
}


/* ---- Hero Top ---- */
.hero__top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    align-items: center;
}


/* Hero Top: logo */ 
.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Limelight', Roboto, sans-serif;
    font-weight: 800;
    color: #094215;
    padding-left: 5rem;
}


/* Hero Top: Navigation menu */
.nav__menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

.nav__menu a {
    text-decoration: none;
    color: #094215;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
}


/* Hero Top: Login button */
.login__button {
    border: 1.5px solid #094215;
    background-color: #C2EFD4;
    font-family: "Poppins", sans-serif;
    padding: 0.4rem 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color:#094215
}

.login__container {
    padding-right: 1rem;
}


/* ---- Hero Bottom ---- */
.hero__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
}


/* Hero Bottom: Headline */
.hero__headline p {
    margin-top: 2rem;
    padding: 2rem 0.5rem 2rem 14rem;
    padding-bottom: 0.5rem;
    font-size: 3rem;
    line-height: 3.5rem;
    font-family: "Poppins", sans-serif;
    color:#094215
}


/* Hero Bottom: Headline Description */
.hero__description p {
    padding: 0.1rem 0.5rem 0.1rem 14rem;
    font-size: 1.0rem;
    font-family: "Poppins", sans-serif;
    color: #267D49
}


/* Hero Bottom: Button */
.hero__button__container {
    padding: 1rem 0.5rem 1rem 14rem;
    margin-bottom: 8rem;
}

.hero__button {
    padding: 0.8rem 1.2rem;
    border: none;
    background-color: #094215;
    color:white;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Hero Bottom: Hero Image */
.hero__image__container {
    display: flex;
    height: 450px;
    background-color: #6BC785;
    margin: 1rem 14rem 2rem 2rem;
    max-width: 60%;
    border-radius: 80px 30px;
}

.hero__image {
    justify-content: center;
    align-items: center;
    height: 450px;
    width: auto;
    margin: auto;
}


/* ----  Main Content One ---- */
/* Best Selling Headline and Description */
.best__selling__headline {
    display: flex;
    width: 100%;
    justify-content: center;
    color:#094215;
    font-family: "Poppins", sans-serif;
}

.best__selling__description {
    display: flex;
    width: 100%;
    justify-content: center;
    color:#094215;
    font-family: "Poppins", sans-serif;
}

.best__selling__headline p {
    margin-top: 5rem;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}

.best__selling__description p {
    padding-top: 1rem;
    font-size: 1.2rem;
}

/* Best Selling Items */
.best__selling__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 8rem;
}


/* Best Selling Items: Image containers */
.image__container {
    display: flex;
    background-color: #C2EFD4;
    margin: 1rem 0.8rem;
    height: 400px;
}

.container__one {
    background-color: #93B9A2;
}

.container__two {
    background-color: #CADCD0;
}

.container__one {
    background-color: #93B9A2;
}

/* Best Selling Items: Images */
.image__one {
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    height: 400px;
}

.image__two {
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    height: 400px;
}

.image__three {
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    height: 400px;
}

/* Best Selling Items: Image descriptions */
.description__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #094215;
}