/* resetting the default margin and padding of the page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* hero section */
.hero {
    height: 80vh;
    background-color:#C2EFD4;
}