/* resetting the default margin and padding of the page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* hero section */
.hero {
    height: 80vh;
    background-color:#C2EFD4;
    font-family: 2rem;
}

/* hero: logo */ 
.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Limelight', Roboto, sans-serif;
    font-weight: 600;
    color: #094215;
}

.hero__top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    align-items: center;
}

/* hero: navigation menu */
.nav__menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

.nav__menu a {
    text-decoration: none;
    color: #094215;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
}

/* hero: Login button */
.login__button {
    border: 1.5px solid #094215;
    background-color: #C2EFD4;
    padding: 0.4rem 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color:#094215
}